@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
}

/* nav start */
.theme-setting {
    width: 24px;
    height: 24px;
    padding: 0px 0;
    cursor: pointer;
}


@media only screen and (max-width: 992.98px) {
    .theme-setting {
        display: none;
    }

}

#switchButton {
    border: none;
    font-size: 24px;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}